@font-face {
    font-family: Helvetica;
    src: url(../fonts/helvetica-regular.woff);
}

@font-face {
    font-family: Helvetica;
    src: url(../fonts/helvetica-bold.woff);
    font-weight: bold;
}

html:hover {
    cursor: default;
}

:root {
    --size: 3;
    --board-size: 85vmin;
    --black: #060501;
    --yellow: #f8ba00;
}

body {
    font-family: Helvetica, sans-serif;
    cursor: default;
    margin: 0;
    opacity: 0;
    transition: opacity 2s ease;
}

body:hover {
    cursor: default;
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: var(--black);
    /* font-size: calc(var(--board-size) / 4.20); */
    font-weight: bold;
    margin-top: 0;

    font-size: calc(var(--board-size) / 4.60);
    text-indent: -2px;

    margin-top: 10px;
    margin-bottom: 15px;

    /* margin-bottom: 60px; */

}

.i {
    background: linear-gradient(to bottom, var(--yellow) 30%, var(--black) 30%, var(--black) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.off {
    background: linear-gradient(to bottom,  var(--black) 0%, var(--black) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .light {
    width: calc(var(--board-size) / 6.2);
    transform: translateY(4.7vmin);
    transition: 0.05s ease-in-out;
    fill: var(--black);
    cursor: pointer;
} */

.light.on { 
    fill: var(--yellow);
}

.socket {
    fill: var(--black);
}

.light {
    display: grid;
    position: relative;
    place-items: center;
    width: calc(var(--board-size) / 10);
    height: calc(var(--board-size) / 10);
    /* line-height: 70%; */

    /* font-size: 25px; */
    /* font-weight: bold; */
    /* border: 3px solid var(--black); */
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 12px;
    transition: 0.05s ease-in-out;
    fill: var(--black);


    /* color: white; */
    /* background-color: var(--black); */
  }
  
  .light::after {
    content: '';
    position: absolute;
    left: calc(var(--board-size) / 10 * -0.4);
    right: calc(var(--board-size) / 10 * -0.4);
    top: calc(var(--board-size) / 10 * -0.3);
    bottom: calc(var(--board-size) / 10 * -0.2);

    background-color: var(--yellow);
  }

.board {
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    width: calc(var(--board-size));
    height: calc(var(--board-size));
    border: 10px solid var(--black);
    border-radius: 7px;
    padding: 2px;
    margin: auto;
}

.cell {
    display: grid;
    position: relative;
    place-items: center;
    width: calc(var(--board-size) / var(--size) - 4px);
    height: calc(var(--board-size) / var(--size) - 4px);
    /* border: 1px solid var(--color); */
    border-radius: 7px;
    background-color: var(--black);
    cursor: pointer;
    margin: 2px;
    transition: background-color 0.05s linear;
}

.cell.on {
    background-color: var(--yellow);
}

.hint {
    transition: background-color 0.05s linear;
}

.hint.on {
    background-color: var(--yellow);
    width: calc((var(--board-size) / var(--size) - 4px) / 8);
    height: calc((var(--board-size) / var(--size) - 4px) / 8);
    border-radius: 50%;  
}

.cell.on .hint.on {
    background-color: var(--black);
}

.sharp {
    transition: background-color 0.0s linear !important;
}

.scale {
    transition: transform 0.5s 0.0s linear;
    transform: scale(1.1);
}

#designed {
    text-align: center;
    align-self: auto;
    color: white;
    font-size: 9px; 
    /* margin-top: -12px; */

    margin-top: -11px;
}


@media (orientation: landscape) and (max-height: 460px) {

    h1 {
        display: none;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --board-size-big: 400px;
    }

    h1 {
        /* font-size: 96px; */

        font-size: 89px;
        text-indent: -5px;
    }

    /* .light {
        width: calc(var(--board-size-big) / 6.0);
        transform: translateY(3.3vmin);
    } */

    .light {
        width: calc(var(--board-size-big) / 10);
        height: calc(var(--board-size-big) / 10);  
    }
    
    .light::after {
        left: calc(var(--board-size-big) / 10 * -0.3);
        right: calc(var(--board-size-big) / 10 * -0.3);
        top: calc(var(--board-size-big) / 10 * -0.3);
        bottom: calc(var(--board-size-big) / 10 * -0.2);
    }

    .board {
        width: var(--board-size-big);
        height: var(--board-size-big); 
        border-width: 15px;
        padding: 3px;   
    }

    .cell {
        /* width: 74px; */
        /* height: 74px; */
        margin: 3px;

        width: calc(var(--board-size-big) / var(--size) - 6px);
        height: calc(var(--board-size-big) / var(--size) - 6px);
    }

    .hint.on {
        width: calc((var(--board-size-big) / var(--size) - 6px) / 8);
        height: calc((var(--board-size-big) / var(--size) - 6px) / 8);
    }

    #designed {
        font-size: 12.8px; 
        /* margin-top: -16.9px; */

        margin-top: -15.5px;

    }
}

.noselect {
    -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
            -webkit-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
}
    